
body {
    background-color: rgb(5, 5, 5);
}

#Tom {
align-content: center;
width: 500px;
height: 500px;

}

.aqua {
    color: aqua;
    text-align: center;
font-size: 70px;
}


#button {
    margin: 5px;
    padding: 15px;
}