
body {
    background-color: rgb(247, 96, 26);
}

#Tom {
align-content: center;
width: 500px;
height: 500px;

}

.aqua {
    color: aqua;
font-size: 70px;
}


#button {
    margin: 15px;
    padding: 15px;
}

.health {
    color: red;
}

.hit {
    color: yellow;
}